@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'nikea';
    src: url('./assets/fonts/NIKEA.otf') format('truetype');
}

@font-face {
    font-family: 'momCake';
    src: url('./assets/fonts/MomcakeThin-9Y6aZ.otf') format('truetype');
}


body {
    background-color: black;
}

.fade-container {
    transition: opacity 2.5s ease;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}


@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 3s infinite;
}

.fade-in-out {
    opacity: 0;
    animation: fadeInOut 1s ease-in-out forwards;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 1s ease-in-out forwards;
}

/* Change this if you need to modify the amount of lines displayed */
/* Leave these unless you want to open a whole can of worms */
/* html {
   background-color: #5138BE;
   height: 100%;
}

body {
   color: #FFFFFF;
   display: flex;
}

.Words {
   margin: 0 auto;
   padding: 80px 0;
   font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
   font-size: 68px;
   font-weight: 900;
   letter-spacing: -2px;
   text-transform: uppercase;
   transform: translate3d(0, 0, 0);
   -webkit-font-smoothing: antialiased;
   -webkit-font-kerning: normal;
   -webkit-text-size-adjust: 100%;
}

.Words-line {
   height: 50px;
   overflow: hidden;
   position: relative;
}

.Words-line:nth-child(odd) {
   transform: skew(60deg, -30deg) scaleY(.66667);
}

.Words-line:nth-child(even) {
   transform: skew(0deg, -30deg) scaleY(1.33333);
}

.Words-line:nth-child(1) {
   left: 29px;
}

.Words-line:nth-child(2) {
   left: 58px;
}

.Words-line:nth-child(3) {
   left: 87px;
}

.Words-line:nth-child(4) {
   left: 116px;
}

.Words-line:nth-child(5) {
   left: 145px;
}

.Words-line:nth-child(6) {
   left: 174px;
}

p {
   height: 50px;
   line-height: 45px;
   padding: 0 10px;
   transition: all 0.4s ease-in-out;
   transform: translate3d(0, 0, 0);
   vertical-align: top;
   white-space: nowrap;
}

.Words:hover p {
   transform: translate3d(0, -50px, 0);
} */


@import url('https://fonts.googleapis.com/css?family=Kanit:900');



#ui {
    color: #FFF;
    font-family: "Kanit";
    font-size: 60px;
    line-height: 1em;
}